// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toast-danger {
	.toast-message{ color: #a94442; }	
	.toast-container{ background:#f2dede; border-color: #ebccd1;} 	
}

.toast-success {
	.toast-container{ background:#dff0d8; border-color: #d6e9c6;} 
	.toast-message{ color: #3c763d; }	
}
.error-message{
	padding-left:16px;
	padding-right:16px;
}
.error-message p {
	margin:0px;
    font-size: 0.8em;
    color: #a94442;
}